<?xml version="1.0"?>
<config>
	<modules>
		<Icemax_AESocialLogin>
            <codePool>community</codePool>
			<version>1.0.1</version>
		</Icemax_AESocialLogin>
	</modules>
	<global>
		<models>
			<aesociallogin>
				<class>Icemax_AESocialLogin_Model</class>
				<resourceModel>aesociallogin_mysql4</resourceModel>
			</aesociallogin>
			<aesociallogin_mysql4>
				<class>Icemax_AESocialLogin_Model_Mysql4</class>
				<entities>
					<identifiers>
						<table>appreciationengine_identifiers</table>
					</identifiers>
				</entities>
			</aesociallogin_mysql4>
		</models>
		<resources>
			<aesociallogin_setup>
				<setup>
					<module>Icemax_AESocialLogin</module>
					<class>Icemax_AESocialLogin_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</aesociallogin_setup>
			<aesociallogin_write>
				<connection>
					<use>core_write</use>
				</connection>
			</aesociallogin_write>
			<aesociallogin_read>
				<connection>
					<use>core_read</use>
				</connection>
			</aesociallogin_read>
		</resources>
		<blocks>
			<aesociallogin>
				<class>Icemax_AESocialLogin_Block</class>
			</aesociallogin>
		</blocks>
		<helpers>
			<aesociallogin>
				<class>Icemax_AESocialLogin_Helper</class>
			</aesociallogin>
		</helpers>
		<events>
			<customer_save_after>
				<observers>
					<add_aesociallogin_identifier>
						<type>singleton</type>
						<class>Icemax_AESocialLogin_Model_Observer</class>
						<method>addIdentifier</method>
					</add_aesociallogin_identifier>
				</observers>
			</customer_save_after>
			<customer_delete_after>
				<observers>
					<remove_aesociallogin_identifiers>
						<type>singleton</type>
						<class>Icemax_AESocialLogin_Model_Observer</class>
						<method>removeIdentifiers</method>
					</remove_aesociallogin_identifiers>
				</observers>
			</customer_delete_after>
			<admin_system_config_changed_section_aesociallogin>
				<observers>
					<aesociallogin_config_save>
						<type>singleton</type>
						<class>Icemax_AESocialLogin_Model_Observer</class>
						<method>onConfigSave</method>
					</aesociallogin_config_save>
				</observers>
			</admin_system_config_changed_section_aesociallogin>
		</events>
	</global>

	<admin>
		<routers>
			<aesocialloginadmin>
				<use>admin</use>
				<args>
					<module>Icemax_AESocialLogin</module>
					<frontName>icemax-aesociallogin-admin</frontName>
				</args>
			</aesocialloginadmin>
		</routers>
	</admin>

	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<aesociallogin translate="title" module="aesociallogin">
											<title>aesociallogin</title>
										</aesociallogin>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
    
	<frontend>
		<secure_url>
			<aesociallogin>/icemax-aesociallogin/api/</aesociallogin>
		</secure_url>
		<layout>
			<updates>
				<aesociallogin>
					<file>icemax/aesociallogin.xml</file>
				</aesociallogin>
			</updates>
		</layout>
		<routers>
			<aesociallogin>
				<use>standard</use>
				<args>
					<module>Icemax_AESocialLogin</module>
					<frontName>icemax-aesociallogin</frontName>
				</args>
			</aesociallogin>
		</routers>
	</frontend>
    
	<default>
		<aesociallogin>
			<options>
				<apikey></apikey>
				<enable>0</enable>
				<seamless>1</seamless>
                <auth_window>1</auth_window>
                <sso>application</sso>
				<path_skin>{{base_skin}}/frontend/icemax</path_skin>
			</options>
			<!-- Set values of global config vars -->
			<vars>
				<connection_info></connection_info>
			</vars>
		</aesociallogin>
	</default>
</config>
